---
title: IoTHub - 物联网开源技术社区
customTitle: "true"
description: IoTHub 是一个泛开发者社区，旨在推广物联网开源技术与实践，促进物联网技术的普及和发展，致力于为物联网开发者和从业者搭建一个学习、交流、分享的平台。
---

<!Doctype html>
<html id="home">

{% include head-header.html productTag="ce" %}

<!--  HERO  -->
<section id="hero" class="light-text"
		 data-vide-bg="poster: /video/tb-cover.jpg"
		 data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: jpg">
	<div class="video-cover"></div>
	<div id="hero-content">
		<h1 class="header-animation tb-title">IoTHub</h1>
        <h1 class="header-animation tb-title">物联网开源技术社区</h1>
		<h4 class="header-animation tb-sub-title">推广物联网开源技术，促进物联网技术发展，免费提供技术支持</h4>
		<div class="header-animation">
			<a href="#intro" class="button learn-tb">欢迎加入社区</a>
		</div>
		<div class="tb-arrow">
			<a href="#intro"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</section>

<div id="overflow">

	<section id="intro">
        <main>
			<h1><a href="docs/getting-started-guides/what-is-thingsboard/">IoTHub</a>  是一个泛开发者社区，旨在推广物联网开源技术与实践，促进物联网技术的普及和发展，致力于为物联网开发者和从业者搭建一个学习、交流、分享的平台</h1>
			<h1 class="second">IoTHub社区研究、推广主流物联网开源技术，选择开源技术构建物联网平台，免费为中小型系统提供技术支持、解决方案<br>社区实践技术路线：物联网（ThingsBoard）、云原生（Kubernetes）、边缘计算（KubeEdge） . . .</h1>
		</main>
	</section>

	<section id="products">
		<main>
			<div class="background">
				<div class="products"></div><div class="small7"></div><div class="small8"></div>
			</div>
			<h3 class="product-title">社区目标</h3>
			<div class="product-list">
				<div> 
					<p></p>
					<h2>社区构建</h2>
					<h3>致力于构建物联网开源技术开发者社区</h3>
					<img src="/images/tenancy-icon.svg">
					<a href="/community/">关于社区</a>
				</div>
				<div class="main">
					<p></p>
					<h2>技术传播</h2>
					<h3>促进物联网开源技术在中国的传播</h3>
					<img src="/images/microservices-icon.svg">
					<a href="/docs/iot/">技术文档</a>
				</div>
				<div>
					<p></p>
					<h2>技术支持</h2>
					<h3>社区免费提供技术支持、系统解决方案</h3>
					<img src="/images/integration-icon.svg">
					<a href="/community/support/">技术支持</a>
				</div>
			</div>
		</main>
	</section>

	<section id="dashboard_description">
		<main>
			<div class="background">
				<div class="dashboards"></div><div class="small9"></div><div class="small10"></div>
			</div>
			<h3>IoTHub — 开源技术实践</h3>
			<p>物联网（ThingsBoard、EMQX、PostgreSQL . . .）、云原生（Kubernetes、DevOps、Istio . . .）、边缘计算（KubeEdge、EdgeX Foundry、Node-RED . . .）</p>

            <div class="usecase-carousel owl-carousel owl-theme">
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>物联网</h2>
                        <p>开源物联网平台（ThingsBoard）、设备连接（Gateway）、数据库（PostgreSQL）、消息队列（Kafka）、EMQX . . . </p>
                        <a class="read-more-button dash" href="/products/iot/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/products/iot/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/tech/iot/iot-1.jpg"></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>云原生</h2>
                        <p>云原生操作系统（Kubernetes）、开发运维（DevOps）、服务网格（Istio）、微服务（SpringCloud）、容器（Docker） . . . </p>
                        <a class="read-more-button dash" href="/products/kubernetes/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/products/kubernetes/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/tech/kubernetes/cncf-1.jpg" /></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>边缘计算</h2>
                        <p>云—Kubernetes、边—KubeEdge、端—EdgeX Foundry、Node-RED（基于流程的编程工具） . . .</p>
                        <a class="read-more-button dash" href="/products/edge/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/products/edge/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/tech/edge/edge-1.png" /></a>
                    </div>
                </div>
            </div>
			
		</main>
	</section>


</div>
{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}
</style>

<script type="text/javascript">

	jqueryDefer(initOwl);

	jqueryDefer(function () {
		vis(function() {
			if (vis()) {
				slideUp();
			}
		});

		$('#hero-content > .tb-arrow > a, #hero-content a.learn-tb').click(function(event) {
			event.preventDefault();
			var target = $('#intro');
			$('html, body').animate({
				scrollTop: target.offset().top - 60 //header height
			}, 1000, "easeOutCirc");
		});

	});

	inViewportDefer(function() {

		$("#hero-content").inViewport(function(px){
			if($(this).height()-px >= 60) {
				$(this).addClass("arrow-hidden");
			} else {
				$(this).removeClass("arrow-hidden");
			}
		});

		$("#intro .image-wrapper, #intro .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#main-features main:nth-child(odd) .image-wrapper, #main-features main:nth-child(even) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInRight");
				return true;
			}
		});

		$("#main-features main:nth-child(even) .image-wrapper, #main-features main:nth-child(odd) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInLeft");
				return true;
			}
		});

		$("#rule_engine main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#tb-customers .customers-container .customer-block").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .features-title").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .feature-box div").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated fadeInUp");
				return true;
			}
		});

	});

	function slideUp() {
		var headAnimations = $('#hero-content').find('.header-animation');
		for (var i=0;i<headAnimations.length;i++) {
			reinsert($(headAnimations[i]));
		}
	}

	function reinsert(el) {
		var newone = el.clone(true);
		el.before(newone);
		el.remove();
	}

	function initOwl() {
		var scriptsList = [
            {src: '/css/owl.carousel.min.css', type: 'css'},
            {src: '/css/owl.theme.default.min.css', type: 'css'},
            {src: '/js/owl.carousel.min.js', type: 'script'}
		];
		loadNextScript(0, scriptsList,
				function() {
					$(document).ready(function(){
                        $('.owl-carousel').owlCarousel({
                            items:1,
                            margin:50,
                            stagePadding: 0,
                            autoHeight:true,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:5000,
                            autoplayHoverPause:true,
                            nav:false,
                            responsive: {
                                1025: {
                                    nav:true,
                                }
                            }
						});
					});
				}
		);
	}

</script>

{% include cookie-consent.html %}

</body>
</html>

