---
title: 物联网 | IoTHob
customTitle: "true"
description: IoTHub 是一个泛开发者社区，旨在推广物联网开源技术与实践，促进物联网技术的普及和发展，致力于为物联网开发者和从业者搭建一个学习、交流、分享的平台。
---

<!Doctype html>
<html id="home">

{% include head-header.html productTag="ce" %}

<!--  HERO  -->
<section id="hero" class="light-text"
		 data-vide-bg="poster: /video/tb-cover.jpg"
		 data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: jpg">
	<div class="video-cover"></div>
	<div id="hero-content">
		<h1 class="header-animation tb-title">物联网</h1>
        <h1 class="header-animation tb-title">设备管理、数据采集、可视化</h1>
		<h4 class="header-animation tb-sub-title">ThingsBoard、Gateway、EMQX、PostgreSQL、Kafka . . . </h4>
		<div class="header-animation">
			<a href="#intro" class="button learn-tb">Learn More</a>
		</div>
		<div class="tb-arrow">
			<a href="#intro"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</section>

<div id="overflow">

	<section id="intro">
        <main>
			<h1><a href="/docs/iot/">物联网</a>  ThingsBoard 社区版作为物联网平台解决方案，实现设备管理、数据收集、设备告警、可视化。使用 ThingsBoard 开放接口，结合开源中间件二次开发</h1>
		</main>
	</section>

 
    <section id="tb-customers">
        <main>
        </main>
    </section>


	<section id="dashboard_description">
		<main>
			<div class="background">
				<div class="dashboards"></div><div class="small9"></div><div class="small10"></div>
			</div>
			
			<h3>IoTHub — 物联网技术实践</h3>
			<p>开源物联网平台（ThingsBoard）、设备连接（Gateway）、数据库（PostgreSQL）、消息队列（Kafka）、EMQX . . . </p>

            <div class="usecase-carousel owl-carousel owl-theme">
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>ThingsBoard</h2>
						<p>ThingsBoard 社区版是开源物联网平台，通过行业标准物联网协议（MQTT、CoAP和HTTP）实现设备连接，并支持云和本地部署。ThingsBoard 具有弹性伸缩、高容错性和性能极致的特点。</p>
                        <a class="read-more-button dash" href="/docs/iot/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/docs/iot/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/tech/iot/iot-1.jpg"></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>设备连接</h2>
                        <p>物联网设备通过行业标准的物联网协议：MQTT、CoAP、SNMP、LWM2M、Modbus、OPC UA、HTTP 等连接网关或物联网平台。</p>
                        <a class="read-more-button dash" href="/docs/iot/nodered/nodered-device-link/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/docs/iot/nodered/nodered-device-link/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/tech/iot/iot-2.png" /></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>开源中间件</h2>
                        <p>构建物联网平台选择使用的主流开源中间件：EMQX、PostgreSQL、TimescaleDB、Cassandra、Kafka、RabbitMQ、Redis . . . </p>
                        <a class="read-more-button dash" href="/docs/middleware/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/docs/middleware/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/tech/iot/iot-3.png" /></a>
                    </div>
                </div>
            </div>
		</main>
	</section>


	<section id="bottom-features">
		<main>
			<div class="background">
				<div class="bottom-features1"></div><div class="bottom-features2"></div><div class="small11"></div><div class="small12"></div><div class="bottom-features3"></div><div class="small13"></div><div class="small14"></div><div class="small15"></div>
			</div>
			<h3>物联网技术</h3>
			<div id="cards" class="row">
				<div class="col-lg-6">
					<div class="block">
						<img src="/images/visualization-icon.svg">
						<div>
							<a class="title" href="/docs/iot/">ThgingsBoard</a>
							<p>ThingsBoard 社区版应用文档，ThingsBoard 生产环境安装部署、设备链接、API、二次开发</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/tolerance-icon.svg">
						<div>
						<a class="title" href="/docs/iot/deploy/deploy-cluster/">ThgingsBoard 生产部署</a>
						<p>ThgingsBoard 生产环境部署文档，单机环境部署（CentOS）、集群环境部署（Kubernetes）
						</p>
						</div>
					</div>
				</div>			
				<div class="col-lg-6">
					<div class="block"><img src="/images/device-icon.svg">
						<div>
						<a class="title" href="/docs/iot/device/device-telemetry/">设备链接</a>
						<p>ThingsBoard 通过标准物联网协议（MQTT、CoAP、HTTP）实现设备连接</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/engine-icon.svg">
						<div>
							<a class="title" href="/docs/middleware/">开源中间件</a>
							<p>开源中间件：EMQX、PostgreSQL、TimescaleDB、Cassandra、Kafka、RabbitMQ、Redis 等</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/scalability-icon.svg">
						<div>
						<a class="title" href="/docs/iot/dev/dev-device/">ThingBoard 二次开发</a>
						<p>通过 ThgingsBoard 开放的 API、规则引擎二次开发，原则不修改 ThingsBoard 源码</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/integration-icon.svg">
						<div>
							<a class="title" href="/docs/iot/nodered/nodered-device-link/">Node-RED 设备连接</a>
							<p>使用 Node-Red 连接设备适配多种通信协议（MQTT、TCP、UDP 等）适配网关 API</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/security-icon.svg">
						<div>
						<a class="title" href="/docs/middleware/prometheus/prome-summary/">Prometheus</a>
						<p>Prometheus 开源的系统监控报警框架，安装部署，微服务、中间件的监控、告警</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/alarms-icon.svg">
						<div>
							<a class="title" href="/docs/middleware/elk/elk-summary/">ELK</a>
							<p>ELK 分布式日志分析平台安装部署，常规操作</p>
						</div>
					</div>
				</div>				
			</div>
		</main>
	</section>

	
</div>

{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}
</style>

<script type="text/javascript">

	jqueryDefer(initOwl);

	jqueryDefer(function () {
		vis(function() {
			if (vis()) {
				slideUp();
			}
		});

		$('#hero-content > .tb-arrow > a, #hero-content a.learn-tb').click(function(event) {
			event.preventDefault();
			var target = $('#intro');
			$('html, body').animate({
				scrollTop: target.offset().top - 60 //header height
			}, 1000, "easeOutCirc");
		});

	});

	inViewportDefer(function() {

		$("#hero-content").inViewport(function(px){
			if($(this).height()-px >= 60) {
				$(this).addClass("arrow-hidden");
			} else {
				$(this).removeClass("arrow-hidden");
			}
		});

		$("#intro .image-wrapper, #intro .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#main-features main:nth-child(odd) .image-wrapper, #main-features main:nth-child(even) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInRight");
				return true;
			}
		});

		$("#main-features main:nth-child(even) .image-wrapper, #main-features main:nth-child(odd) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInLeft");
				return true;
			}
		});

		$("#rule_engine main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#tb-customers .customers-container .customer-block").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .features-title").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .feature-box div").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated fadeInUp");
				return true;
			}
		});

	});

	function slideUp() {
		var headAnimations = $('#hero-content').find('.header-animation');
		for (var i=0;i<headAnimations.length;i++) {
			reinsert($(headAnimations[i]));
		}
	}

	function reinsert(el) {
		var newone = el.clone(true);
		el.before(newone);
		el.remove();
	}

	function initOwl() {
		var scriptsList = [
            {src: '/css/owl.carousel.min.css', type: 'css'},
            {src: '/css/owl.theme.default.min.css', type: 'css'},
            {src: '/js/owl.carousel.min.js', type: 'script'}
		];
		loadNextScript(0, scriptsList,
				function() {
					$(document).ready(function(){
                        $('.owl-carousel').owlCarousel({
                            items:1,
                            margin:50,
                            stagePadding: 0,
                            autoHeight:true,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:5000,
                            autoplayHoverPause:true,
                            nav:false,
                            responsive: {
                                1025: {
                                    nav:true,
                                }
                            }
						});
					});
				}
		);
	}

</script>

{% include cookie-consent.html %}

</body>
</html>

