---
title: 云原生 | IoTHub
customTitle: "true"
description: IoTHub 是一个泛开发者社区，旨在推广物联网开源技术与实践，促进物联网技术的普及和发展，致力于为物联网开发者和从业者搭建一个学习、交流、分享的平台。
---

<!Doctype html>
<html id="home">

{% include head-header.html productTag="ce" %}

<!--  HERO  -->
<section id="hero" class="light-text"
		 data-vide-bg="poster: /video/tb-cover.jpg"
		 data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: jpg">
	<div class="video-cover"></div>
	<div id="hero-content">
		<h1 class="header-animation tb-title">云原生</h1>
        <h1 class="header-animation tb-title">云计算的未来</h1>
		<h4 class="header-animation tb-sub-title">Kubernetes、DevOps、Istio、SpringCloud、Docker . . . </h4>
		<div class="header-animation">
			<a href="#intro" class="button learn-tb">Learn More</a>
		</div>
		<div class="tb-arrow">
			<a href="#intro"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</section>

<div id="overflow">

	<section id="intro">
        <main>
			<h1><a href="/docs/kubernetes/" target="_blank">云原生</a>  在公有云、私有云和混合云等新型动态环境中，构建和运行可弹性扩展的应用。云原生的代表技术包括容器、服务网格、微服务、不可变基础设施和声明式 API</h1>
		</main>
	</section>

 
    <section id="tb-customers">
        <main>
        </main>
    </section>


	<section id="dashboard_description">
		<main>
			<div class="background">
				<div class="dashboards"></div><div class="small9"></div><div class="small10"></div>
			</div>
			
			<h3>IoTHub — 云原生技术实践</h3>
			<p>云原生操作系统（Kubernetes）、开发运维（DevOps）、服务网格（Istio）、微服务（SpringCloud）、容器（Docker） . . . </p>

            <div class="usecase-carousel owl-carousel owl-theme">
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Kubernetes</h2>
                        <p>Kubernetes 是云原生操作系统，一个可移植、可扩展的开源平台，用于管理容器化的工作负载和服务，进行声明式配置和自动化。</p>
                        <a class="read-more-button dash" href="/docs/kubernetes/" target="_blank">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/docs/kubernetes/" target="_blank"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/tech/kubernetes/cncf-2.png" /></a>
                    </div>
                </div>			
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>DevOps</h2>
                        <p>DevOps 是一种思想、一组最佳实践、一种文化。实现软件开发、测试、运维的一体化，减少部门之间的沟通成本，实现软件的快速高质量的发布。</p>
                        <a class="read-more-button dash" href="/docs/devops/" target="_blank">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/docs/devops/" target="_blank"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/tech/kubernetes/cncf-3.png" /></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Istio</h2>
                        <p>Istio 是一个开源服务网格，Istio 与 Kubernetes 和传统工作负载一起使用，为复杂的部署带来了标准的通用流量管理、遥测和安全性。</p>
                        <a class="read-more-button dash" href="/docs/kubernetes/" target="_blank">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/docs/kubernetes/" target="_blank"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/tech/kubernetes/cncf-5.png" /></a>
                    </div>
                </div>				
            </div>
		</main>
	</section>


	<section id="bottom-features">
		<main>
			<div class="background">
				<div class="bottom-features1"></div><div class="bottom-features2"></div><div class="small11"></div><div class="small12"></div><div class="bottom-features3"></div><div class="small13"></div><div class="small14"></div><div class="small15"></div>
			</div>
			<h3>云原生技术</h3>
			<div id="cards" class="row">
				<div class="col-lg-6">
					<div class="block"><img src="/images/asset-icon.svg">
						<div>
						<a class="title" href="/docs/kubernetes/" target="_blank">kubernetes</a>
						<p>Kubernetes 生产环境部署，集群规划、集群部署、监控运维、中间件部署、微服务部署
						</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/tolerance-icon.svg">
						<div>
						<a class="title" href="/docs/devops/" target="_blank">DevOps</a>
						<p>DevOps 规划、重要组件部署（Jenkins、GitLab、Harbor 等），Git 管理、Jenkins 使用</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/device-icon.svg">
						<div>
							<a class="title" href="/docs/kubernetes/" target="_blank">Istio</a>
							<p>Istio 生产实践，应用系统规划设计、系统监控运维</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/microservices-icon.svg">
						<div>
							<a class="title" href="/docs/kubernetes/pro/microservice/cloud-deploy-plan/" target="_blank">Spring Cloud</a>
							<p>Spring Cloud 部署到 Kubernetes 集群，使用 Helm 进行应用发布、升级、运维</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/security-icon.svg">
						<div>
							<a class="title" href="/docs/kubernetes/monitoring/prometheus/" target="_blank">Kubernetes 监控运维</a>
							<p>Prometheus 系统监控，EFK 统一日志管理</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/engine-icon.svg">
						<div>
							<a class="title" href="/docs/kubernetes/middleware/postgresql/" target="_blank">Kubernetes 部署中间件</a>
							<p>使用 Operator、Helm 部署常用中间件（PostgreSQL、TimescaleDB、MySQL、Redis、RabbitMQ 等）</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/integration-icon.svg">
						<div>
							<a class="title" href="/docs/devops/cicd/cicd-plan/" target="_blank">CICD 流水线</a>
							<p>基于 Kubernetes 的 CICD 流水线规划，流水线搭建、持续集成、持续部署</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/visualization-icon.svg">
						<div>
							<a class="title" href="/docs/devops/jenkins/jenkins/" target="_blank">Jenkins</a>
							<p>Jenkins 安装部署、使用配置，WEB 项目持续集成、持续部署</p>
						</div>
					</div>
				</div>				
			</div>
		</main>
	</section>


</div>

{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}
</style>

<script type="text/javascript">

	jqueryDefer(initOwl);

	jqueryDefer(function () {
		vis(function() {
			if (vis()) {
				slideUp();
			}
		});

		$('#hero-content > .tb-arrow > a, #hero-content a.learn-tb').click(function(event) {
			event.preventDefault();
			var target = $('#intro');
			$('html, body').animate({
				scrollTop: target.offset().top - 60 //header height
			}, 1000, "easeOutCirc");
		});

	});

	inViewportDefer(function() {

		$("#hero-content").inViewport(function(px){
			if($(this).height()-px >= 60) {
				$(this).addClass("arrow-hidden");
			} else {
				$(this).removeClass("arrow-hidden");
			}
		});

		$("#intro .image-wrapper, #intro .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#main-features main:nth-child(odd) .image-wrapper, #main-features main:nth-child(even) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInRight");
				return true;
			}
		});

		$("#main-features main:nth-child(even) .image-wrapper, #main-features main:nth-child(odd) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInLeft");
				return true;
			}
		});

		$("#rule_engine main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#tb-customers .customers-container .customer-block").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .features-title").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .feature-box div").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated fadeInUp");
				return true;
			}
		});

	});

	function slideUp() {
		var headAnimations = $('#hero-content').find('.header-animation');
		for (var i=0;i<headAnimations.length;i++) {
			reinsert($(headAnimations[i]));
		}
	}

	function reinsert(el) {
		var newone = el.clone(true);
		el.before(newone);
		el.remove();
	}

	function initOwl() {
		var scriptsList = [
            {src: '/css/owl.carousel.min.css', type: 'css'},
            {src: '/css/owl.theme.default.min.css', type: 'css'},
            {src: '/js/owl.carousel.min.js', type: 'script'}
		];
		loadNextScript(0, scriptsList,
				function() {
					$(document).ready(function(){
                        $('.owl-carousel').owlCarousel({
                            items:1,
                            margin:50,
                            stagePadding: 0,
                            autoHeight:true,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:5000,
                            autoplayHoverPause:true,
                            nav:false,
                            responsive: {
                                1025: {
                                    nav:true,
                                }
                            }
						});
					});
				}
		);
	}

</script>

{% include cookie-consent.html %}

</body>
</html>

